<div class="page-header">
  <h1>Dish #<%= @dish.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @dish.name %></dd>

  <dt>Cuisine ID</dt>
  <dd><%= @cuisine %></dd>

</dl>

<table class="table table-hover">
  <thead>
    <tr>
      <th>These are the users who favor these dishes</th>
      <th>These are the venues wheres they like these dishes from</th>
    </tr>


  </thead>

  <tbody>

  <% @favorites.each do |fave| %>
    <tr>
      <td><%= @users.find(fave.user_id).username %></td>
      <td><%= @venues.find(fave.venue_id).name %></td>
    </tr>


  <% end %>
  </tbody>

